<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia itaque beatae aut inventore velit autem voluptates, ut facilis repellat quasi fugiat tenetur, et, ipsum unde ratione sequi iste exercitationem. Repellat distinctio tempore vero ad. Illo delectus laborum, debitis perspiciatis vitae unde, asperiores assumenda provident nobis quis error corporis ad dolores? Temporibus adipisci dignissimos placeat, dolor numquam natus asperiores quo quisquam neque a laborum hic excepturi beatae autem minus earum molestiae recusandae explicabo voluptatem quod quae eaque unde. Molestiae ullam accusantium quod expedita error deleniti aliquam esse odio explicabo, animi repellat quia? Modi nihil aut, sed natus in eum neque beatae.</p>
</body>
</html>