*{
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    border: 2px solid black;
    background: white;
}
body{
    background: rgb(201, 218, 52);
}
h1{
    background: black;
    color: white;
}
p{
    background: white;
    font-weight: bolder;
    color: rgb(4, 70, 64);
}